@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

Marker {
  position: absolute;
  top: 0;
}

.mapboxgl-popup-close-button {
  top: 2px;
  outline: none;
  color: white;
  background-color: transparent;
  position: absolute;
  right: 0px;
  width: 30px;
  font-size: 20px;
  border-radius: 5px;
}

.rdrDefinedRangesWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .rdrDefinedRangesWrapper {
    display: block;
  }
}
